@media screen and (min-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    left: 0;
    top: -100%;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 4rem;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
    transition: top 0.4s;
  }
}

@media screen and (min-width: 1024px) {
  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    column-gap: 3rem;
  }

  .nav__buttons .nav__toggle {
    display: none;
  }
  .nav__menu .nav__close {
    display: none;
  }

  .dark-theme .nav__menu {
    box-shadow: none;
  }

  .change-theme {
    color: var(--text-color);
  }

  .bg-header .change-theme {
    color: var(--text-color);
  }
}
