@import url("global.css");
@import url("vars.css");

.header {
  margin-top: 25px;
}

.header__inner {
  display: flex;
  justify-content: center;
}

.header__nav {
  border-radius: 50px;
  border: 2px solid var(--orangeDark-color);
  padding: 0 25px;
}

.header__list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header__list-link:hover {
  text-decoration: underline;
}

.sun {
  padding: 50px 0;
}

.sun__title {
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.sun__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  text-align: center;
}

.sun__item-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.sun__item-title {
  padding: 25px 0;
}

.sun__item-text {
  text-align: left;
}
