/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(15, 60%, 52%);
  --first-color-alt: hsl(15, 68%, 40%);
  --first-gradient: linear-gradient(
    90deg,
    hsl(15, 68%, 42%) 0%,
    hsl(20, 68%, 80%) 100%
  );
  --second-gradient: linear-gradient(
    90deg,
    hsl(165, 63%, 48%) 0%,
    hsl(204, 93%, 45%) 100%
  );
  --third-gradient: linear-gradient(
    90deg,
    hsl(15, 70%, 40%) 0%,
    hsl(20, 62%, 60%) 100%
  );
  --title-color: hsl(0, 0%, 12%);
  --text-color: hsl(0, 0%, 50%);
  --white-color: #fff;
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --bigger-font-size: 26px;
  --big-font-size: 24px;
  --h1-font-size: 22px;
  --h2-font-size: 18px;
  --h3-font-size: 16px;
  --normal-font-size: 14px;
  --small-font-size: 12px;
  --smaller-font-size: 10px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --body-color: #1a1b26;
  --container-color: hsl(0, 0%, 15%);
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme :is(.bg-header, .nav__menu) {
  box-shadow: 0 2px 8px hsla(0, 0%, 100%, 0.315);
}
