:root {
    --bG-color: #1a1b26;
    --light-color: #73daca;
    --green-light: #9ece6a;
    --green-dark: #056847;
    --orangeLight-color: #ee7c12;
    --orangeDark-color: #a83905;
    --link-color: #2ac9e6;
}